 @keyframes float {

   0%,
   100% {
     transform: translate(0, 0);
   }

   25% {
     transform: translate(10px, -15px);
   }

   50% {
     transform: translate(-5px, 10px);
   }

   75% {
     transform: translate(-15px, -5px);
   }
 }

 .animate-float-1 {
   animation: float 15s ease-in-out infinite;
 }

 .animate-float-2 {
   animation: float 20s ease-in-out infinite;
 }

 .animate-float-3 {
   animation: float 25s ease-in-out infinite;
 }

 .animate-float-4 {
   animation: float 18s ease-in-out infinite reverse;
 }

 .animate-float-5 {
   animation: float 22s ease-in-out infinite reverse;
 }

 .animate-float-6 {
   animation: float 17s ease-in-out infinite alternate;
 }

 /* CSS for scroll bar costumization */
 ::-webkit-scrollbar {
   width: 8px;
   /* slim width */
 }

 ::-webkit-scrollbar-track {
   background: #1f1f1f;
   /* dark track */
   border-radius: 4px;
 }

 ::-webkit-scrollbar-thumb {
   background: linear-gradient(180deg, #5c5c5c, #ffffff);
   /* gradient thumb */
   border-radius: 4px;
 }

 ::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(180deg, #d3d3d6, #5c5c5c);
   /* hover gradient */
 }


 /* CSS for hiding a specific scroll-bar */

 /* Only hides scrollbar for elements with .scrollbar-hidden */
 .scrollbar-hidden::-webkit-scrollbar {
   display: none;
   /* Chrome, Safari, Opera */
 }

 .scrollbar-hidden {
   -ms-overflow-style: none;
   /* Internet Explorer, Edge */
   scrollbar-width: none;
   /* Firefox */
 }


 @import "tailwindcss"